{% extends "base.html" %}

{% block content %}
  <h1>Manufacturer list</h1>
  {% if manufacturer_list %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        {% for manufacture in manufacturer_list %}
          <tr>
            <td>{{ manufacture.id }}</td>
            <td>{{ manufacture.name }}</td>
            <td>{{ manufacture.country }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
